<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>

<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider org.eclipse.emf.edit.provider.IStructuredItemContentProvider org.eclipse.emf.edit.provider.ITreeItemContentProvider org.eclipse.emf.edit.provider.IItemLabelProvider org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>
<!--@generated-->
  <extension point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
</extension>

<!--@generated-->
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringModelSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringModelItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringModel"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringCriterionItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringCriterion"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSetSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringCriterionSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringCriterionSet"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultsSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringResultsItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringResults"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringResultItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringResult"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.AssociatedFilteringCriterionSetSection" id="org.polarsys.capella.filtering.provider.contributions.AssociatedFilteringCriterionSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.AssociatedFilteringCriterionSet"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.CreationDefaultFilteringCriterionSetSection" id="org.polarsys.capella.filtering.provider.contributions.CreationDefaultFilteringCriterionSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.CreationDefaultFilteringCriterionSet"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultPkgSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringResultPkgItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringResultPkg"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringCriterionPkgSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringCriterionPkgItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringCriterionPkg"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.ComposedFilteringResultSection" id="org.polarsys.capella.filtering.provider.contributions.ComposedFilteringResultItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.ComposedFilteringResult"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultSetSection" id="org.polarsys.capella.filtering.provider.contributions.FilteringResultSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.FilteringResultSet"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.AbstractFilteringResultSection" id="org.polarsys.capella.filtering.provider.contributions.AbstractFilteringResultItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.AbstractFilteringResult"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.UnionFilteringResultSetSection" id="org.polarsys.capella.filtering.provider.contributions.UnionFilteringResultSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.UnionFilteringResultSet"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.ExclusionFilteringResultSetSection" id="org.polarsys.capella.filtering.provider.contributions.ExclusionFilteringResultSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.ExclusionFilteringResultSet"/>
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.IntersectionFilteringResultSetSection" id="org.polarsys.capella.filtering.provider.contributions.IntersectionFilteringResultSetItemContribution.section" tab="BaseCapella">
            <input type="org.polarsys.capella.filtering.IntersectionFilteringResultSet"/>
        </propertySection>
</propertySections>
    </extension>

<!--@generated-->
  <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections contributorId="org.eclipse.sirius.diagram.ui">
        <propertySection class="org.polarsys.capella.filtering.provider.sections.FilteringModelSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringModelSection" id="org.polarsys.capella.filtering.provider.sections.FilteringModelSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSection" id="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSetSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSetSection" id="org.polarsys.capella.filtering.provider.sections.FilteringCriterionSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.filtering.provider.sections.FilteringResultsSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultsSection" id="org.polarsys.capella.filtering.provider.sections.FilteringResultsSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultSection" id="org.polarsys.capella.filtering.provider.sections.FilteringResultSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.AssociatedFilteringCriterionSetSection" id="org.polarsys.capella.filtering.provider.sections.AssociatedFilteringCriterionSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.CreationDefaultFilteringCriterionSetSection" id="org.polarsys.capella.filtering.provider.sections.CreationDefaultFilteringCriterionSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultPkgSection" id="org.polarsys.capella.filtering.provider.sections.FilteringResultPkgSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringCriterionPkgSection" id="org.polarsys.capella.filtering.provider.sections.FilteringCriterionPkgSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.ComposedFilteringResultSection" id="org.polarsys.capella.filtering.provider.sections.ComposedFilteringResultSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.filtering.provider.sections.FilteringResultSetSection" filter="org.polarsys.capella.filtering.provider.sections.FilteringResultSetSection" id="org.polarsys.capella.filtering.provider.sections.FilteringResultSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.filtering.provider.sections.AbstractFilteringResultSection" filter="org.polarsys.capella.filtering.provider.sections.AbstractFilteringResultSection" id="org.polarsys.capella.filtering.provider.sections.AbstractFilteringResultSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.UnionFilteringResultSetSection" id="org.polarsys.capella.filtering.provider.sections.UnionFilteringResultSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.ExclusionFilteringResultSetSection" id="org.polarsys.capella.filtering.provider.sections.ExclusionFilteringResultSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
        <propertySection class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection" filter="org.polarsys.capella.filtering.provider.sections.IntersectionFilteringResultSetSection" id="org.polarsys.capella.filtering.provider.sections.IntersectionFilteringResultSetSection.section" tab="BaseSiriusDiagram">
        </propertySection>
</propertySections>
    </extension>
</plugin>
