<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension>

   
<!--@generated-->
  <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>

<extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider                org.eclipse.emf.edit.provider.IStructuredItemContentProvider                org.eclipse.emf.edit.provider.ITreeItemContentProvider                org.eclipse.emf.edit.provider.IItemLabelProvider                org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension><extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated filtering -->
      <factory class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider org.eclipse.emf.edit.provider.IStructuredItemContentProvider org.eclipse.emf.edit.provider.ITreeItemContentProvider org.eclipse.emf.edit.provider.IItemLabelProvider org.eclipse.emf.edit.provider.IItemPropertySource" uri="http://www.polarsys.org/capella/filtering/1.2.0"/>
   </extension><extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated filtering -->
      <extender class="org.polarsys.capella.filtering.provider.FilteringItemProviderAdapterFactory$EmdeChildCreationExtender" uri="http://www.polarsys.org/kitalpha/emde/1.0.0"/>
   </extension>
<!--@generated-->
  <extension point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">
</extension>

</plugin>
