<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/optionalDecorator.png"
               id="org.polarsys.capella.filtering.menu"
               label="Filtering">
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.multipleCriteriaAssigningCommand"
                  icon="icons/criteriaAssigning.png"
                  label="Assign Filtering Criteria"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.filteringOverviewCommand"
                  icon="icons/overview.png"
                  label="Filtering Criteria Overview"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.selectHiddenCriteriaCommand"
                  icon="icons/showHideCriteria.png"
                  label="Show/hide Filtering Criteria"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.filters.optionals"
                  icon="icons/filters.png"
                  label="Hide Optionals"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.filters.common"
                  icon="icons/filters.png"
                  label="Hide Common"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.selector"
                  icon="icons/selectElements.png"
                  label="Select elements"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.selectPinnedCriteriaCommand"
                  icon="icons/pinUnpinCriteria.png"
                  label="Pin/Unpin Filtering Criteria"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.preferences"
                  icon="icons/preferences.png"
                  label="Preferences"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <with
                        variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false">
                           <instanceof
                                 value="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
                           </instanceof>
                        </iterate>
                     </and>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.sirius.diagram.ui.tabbar">
         <toolbar
               id="org.polarsys.capella.filtering.sirius.ui.toolbar"
               label="Filtering">
         </toolbar>
         <command
               commandId="org.polarsys.capella.filtering.sirius.ui.filteringToolbar"
               icon="icons/optionalDecorator.png"
               label="Filtering"
               style="pulldown"
               tooltip="Filtering diagram actions">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.polarsys.capella.filtering.sirius.ui.filteringToolbar">
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.multipleCriteriaAssigningCommand"
                  icon="icons/criteriaAssigning.png"
                  label="Assign Filtering Criterion"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.filteringOverviewCommand"
                  icon="icons/overview.png"
                  label="Filtering Criteria Overview"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.selectHiddenCriteriaCommand"
                  icon="icons/showHideCriteria.png"
                  label="Show/hide Filtering Criteria"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.filters.optionals"
                  icon="icons/filters.png"
                  label="Hide Optionals"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.filters.common"
                  icon="icons/filters.png"
                  label="Hide Common"
                  style="toggle">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.selector"
                  icon="icons/selectElements.png"
                  label="Select elements"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.selectPinnedCriteriaCommand"
                  icon="icons/pinUnpinCriteria.png"
                  label="Pin/Unpin Filtering Criteria"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
            <command
                  commandId="org.polarsys.capella.filtering.sirius.ui.preferences"
                  icon="icons/preferences.png"
                  label="Preferences"
                  style="push">
               <visibleWhen
                     checkEnabled="true">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <instanceof
                           value="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                     </instanceof>
                  </iterate>
               </visibleWhen>
            </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.SelectHiddenCriteriaCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.selectHiddenCriteriaCommand">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <not>
                  <instanceof
                        value="org.eclipse.sirius.diagram.sequence.ui.tool.internal.edit.part.SequenceDiagramEditPart">
                  </instanceof>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.SelectPinnedCriteriaCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.selectPinnedCriteriaCommand">
         <activeWhen>
            <with
                  variable="selection">
               <count
                     value="1">
               </count>
               <iterate
                     operator="and">
                  <adapt
                        type="org.eclipse.sirius.diagram.ui.internal.edit.parts.DDiagramEditPart">
                  </adapt>
               </iterate>
            </with>
         </activeWhen>
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <not>
                  <instanceof
                        value="org.eclipse.sirius.diagram.sequence.ui.tool.internal.edit.part.SequenceDiagramEditPart">
                  </instanceof>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.MultipleCriteriaAssigningCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.multipleCriteriaAssigningCommand">
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.FilterOptionalsCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.filters.optionals">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <not>
                  <instanceof
                        value="org.eclipse.sirius.diagram.sequence.ui.tool.internal.edit.part.SequenceDiagramEditPart">
                  </instanceof>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.FilterCommonCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.filters.common">
         <enabledWhen>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <not>
                  <instanceof
                        value="org.eclipse.sirius.diagram.sequence.ui.tool.internal.edit.part.SequenceDiagramEditPart">
                  </instanceof>
               </not>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.PreferencesCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.preferences">
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.SelectCriteriaCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.selector">
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.FilteringOverviewCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.filteringOverviewCommand">
      </handler>
      <handler
            class="org.polarsys.capella.filtering.sirius.ui.diagram.actions.FilteringToolbarCommandHandler"
            commandId="org.polarsys.capella.filtering.sirius.ui.filteringToolbar">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.polarsys.capella.filtering.sirius.ui.category"
            name="Filtering Category">
      </category>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.selectHiddenCriteriaCommand"
            name="Select Hidden Filtering Criteria">
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.selectPinnedCriteriaCommand"
            name="Select Pinned Filtering Criteria">
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.multipleCriteriaAssigningCommand"
            name="Assign Filtering Criteria">
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.filters.optionals"
            name="Filter Optionals">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.filters.common"
            name="Filter Common">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.preferences"
            name="Preferences">
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.selector"
            name="Select Filtering Criteria">
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.filteringOverviewCommand"
            name="Filtering Criteria Overview">
      </command>
      <command
            categoryId="org.polarsys.capella.filtering.sirius.ui.category"
            id="org.polarsys.capella.filtering.sirius.ui.filteringToolbar"
            name="Filtering">
      </command>
   </extension>
   <extension
         point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <decoratorProvider
            class="org.polarsys.capella.filtering.sirius.ui.decorators.OptionalDecoratorProvider">
         <Priority
               name="Medium">
         </Priority>
         <object
               class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart(org.eclipse.gmf.runtime.diagram.ui)"
               id="Node">
         </object>
         <context
               decoratorTargets="Node">
         </context>
      </decoratorProvider>
   </extension>
   

</plugin>
