<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>



<plugin>

   
<!--@generated-->
  <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated filtering -->
      <package class="org.polarsys.capella.filtering.FilteringPackage" genModel="model/filtering.genmodel" uri="http://www.polarsys.org/capella/filtering/1.3.0"/>
   </extension>

<extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated filtering -->
      <parser class="org.polarsys.capella.filtering.util.FilteringResourceFactoryImpl" type="filtering"/>
   </extension><extension point="org.polarsys.capella.common.model.helpers.helper">
    <helperImpl class="org.polarsys.capella.filtering.model.helpers.FilteringPackageHelper" nsURI="http://www.polarsys.org/capella/filtering/1.3.0"/>
  </extension>

</plugin>
