<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension name="bv"
         point="org.polarsys.capella.common.menu.dynamic.MDEMenuItemContribution">

      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.FilteringItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.FilteringItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.StandardItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.StandardItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.ConfigurationsItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.ConfigurationsItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.DefaultConfigurationItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.DefaultConfigurationItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.AssociatedFilteringCriterionSetItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.AssociatedFilteringCriterionSetItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.FilteringResultPkgItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.FilteringResultPkgItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.ExclusionFilteringResultSetItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.ExclusionFilteringResultSetItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.IntersectionFilteringResultSetItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.IntersectionFilteringResultSetItemContribution">
      </MDEMenuItemContribution>
      <MDEMenuItemContribution
            class="org.polarsys.capella.filtering.menu.contribution.UnionFilteringResultSetItemContribution"
            id="org.polarsys.capella.filtering.menu.contribution.UnionFilteringResultSetItemContribution">
      </MDEMenuItemContribution>
   </extension>
</plugin>
