<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->

<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertyTab
               label="%filteringLabel"
               category="default"
               id="FilteringCapella"
               afterTab="ManagementCapella">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               label="%filteringLabel"
               category="semantic &amp; extension"
               id="FilteringSiriusDiagram"
               afterTab="ManagementSiriusDiagram">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               label="%filteringLabel"
               category="default"
               id="FilteringSiriusTable"
               afterTab="ManagementSiriusTable">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         
         <propertySection tab="FilteringCapella"
               class="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
			   filter="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection">
         </propertySection>
         
         <!-- For all filtering elements except the one overridden below, we use default property view -->
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection"
               filter="org.polarsys.capella.filtering.properties.sections.DefaultNamedElementFilter"
               id="org.polarsys.capella.filtering.properties.sections.BasicFilteringFeaturePropertySection">
         </propertySection>
         
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection">
         </propertySection>
         
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection">
         </propertySection>
         
      </propertySections>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         
         <propertySection tab="FilteringSiriusDiagram"
               class="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
			   filter="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection">
         </propertySection>
         
         <!-- For all filtering elements except the one overridden below, we use default property view -->
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection"
               filter="org.polarsys.capella.filtering.properties.sections.DefaultNamedElementFilter"
               id="org.polarsys.capella.filtering.properties.sections.BasicFilteringFeaturePropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection">
         </propertySection>
         
      </propertySections>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.ui.EditorID">
         
         <propertySection tab="FilteringSiriusTable"
               class="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
			   filter="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection">
         </propertySection>
         
         <!-- For all filtering elements except the one overridden below, we use default property view -->
         <propertySection tab="BaseSiriusTable"
               class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection"
               filter="org.polarsys.capella.filtering.properties.sections.DefaultNamedElementFilter"
               id="org.polarsys.capella.filtering.properties.sections.BasicFilteringFeaturePropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusTable"
               class="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusTable"
               class="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection">
         </propertySection>
         
      </propertySections>
   </extension>
   
   
</plugin>

