<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018 THALES GLOBAL SERVICES.
  
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0
  
  SPDX-License-Identifier: EPL-2.0
  
  Contributors:
       Thales - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         <propertyTab
               label="%filteringLabel"
               category="default"
               id="FilteringCapella"
               afterTab="ManagementCapella">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.diagram.ui">
         <propertyTab
               label="%filteringLabel"
               category="semantic &amp; extension"
               id="FilteringSiriusDiagram"
               afterTab="ManagementSiriusDiagram">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sirius.table.ui.EditorID">
         <propertyTab
               label="%filteringLabel"
               category="default"
               id="FilteringSiriusTable"
               afterTab="ManagementSiriusTable">
         </propertyTab>
      </propertyTabs>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="org.polarsys.capella.core.data.capellamodeller.properties">
         
         <propertySection tab="FilteringCapella"
               class="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
			   filter="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection">
         </propertySection>
         
         <!-- For all filtering elements except the one overridden below, we use default property view -->
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection"
               filter="org.polarsys.capella.filtering.properties.sections.DefaultNamedElementFilter"
               id="org.polarsys.capella.filtering.properties.sections.BasicFilteringFeaturePropertySection">
               <input type="org.polarsys.capella.filtering.ComposedFilteringResult"/>
               <input type="org.polarsys.capella.filtering.FilteringCriterion"/>
               <input type="org.polarsys.capella.filtering.FilteringCriterionPkg"/>
               <input type="org.polarsys.capella.filtering.FilteringModel"/>
               <input type="org.polarsys.capella.filtering.FilteringResultPkg"/>
               <input type="org.polarsys.capella.filtering.FilteringResults"/>
               <input type="org.polarsys.capella.filtering.FilteringResultSet"/>
         </propertySection>
         
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection">
               <input type="org.polarsys.capella.filtering.AssociatedFilteringCriterionSet"/>
               <input type="org.polarsys.capella.filtering.CreationDefaultFilteringCriterionSet"/>
               <input type="org.polarsys.capella.filtering.FilteringResult"/>
               <input type="org.polarsys.capella.filtering.FilteringCriterionSet"/>
         </propertySection>
         
         <propertySection tab="BaseCapella"
               class="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection">
               <input type="org.polarsys.capella.filtering.ExclusionFilteringResultSet"/>
               <input type="org.polarsys.capella.filtering.IntersectionFilteringResultSet"/>
               <input type="org.polarsys.capella.filtering.UnionFilteringResultSet"/>
         </propertySection>
         
      </propertySections>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.diagram.ui">
         
         <propertySection tab="FilteringSiriusDiagram"
               class="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
			   filter="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection">
         </propertySection>
         
         <!-- For all filtering elements except the one overridden below, we use default property view -->
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection"
               filter="org.polarsys.capella.filtering.properties.sections.DefaultNamedElementFilter"
               id="org.polarsys.capella.filtering.properties.sections.BasicFilteringFeaturePropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusDiagram"
               class="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection">
         </propertySection>
         
      </propertySections>
   </extension>
   
   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
	  <propertySections contributorId="org.eclipse.sirius.ui.EditorID">
         
         <propertySection tab="FilteringSiriusTable"
               class="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
			   filter="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CapellaFilteringPropertySection">
         </propertySection>
         
         <!-- For all filtering elements except the one overridden below, we use default property view -->
         <propertySection tab="BaseSiriusTable"
               class="org.polarsys.capella.core.data.core.properties.sections.DefaultNamedElementSection"
               filter="org.polarsys.capella.filtering.properties.sections.DefaultNamedElementFilter"
               id="org.polarsys.capella.filtering.properties.sections.BasicFilteringFeaturePropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusTable"
               class="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.CriterionSetPropertySection">
         </propertySection>
         
         <propertySection tab="BaseSiriusTable"
               class="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               filter="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection"
               id="org.polarsys.capella.filtering.properties.sections.ComposedResultSetPropertySection">
         </propertySection>
         
      </propertySections>
   </extension>
   <extension
         point="org.polarsys.capella.core.data.business.queries.MDEBusinessQueries">
      <MDEBusinessQueries
            class="org.polarsys.capella.filtering.properties.ExclusionFilteringResultBusinessQuery"
            id="org.polarsys.capella.filtering.properties.ExclusionFilteringResultBusinessQuery">
      </MDEBusinessQueries>
      <MDEBusinessQueries
            class="org.polarsys.capella.filtering.properties.IntersectionFilteringResultBusinessQuery"
            id="org.polarsys.capella.filtering.properties.IntersectionFilteringResultBusinessQuery">
      </MDEBusinessQueries>
      <MDEBusinessQueries
            class="org.polarsys.capella.filtering.properties.UnionFilteringResultBusinessQuery"
            id="org.polarsys.capella.filtering.properties.UnionFilteringResultBusinessQuery">
      </MDEBusinessQueries>
      <MDEBusinessQueries
            class="org.polarsys.capella.filtering.properties.FilteringResultBusinessQuery"
            id="org.polarsys.capella.filtering.properties.FilteringResultBusinessQuery">
      </MDEBusinessQueries>
   </extension>
</plugin>

