<?xml version="1.0" encoding="UTF-8"?>
<!-- NOTE that this version must be greater or equal to 3.4 to avoid extension point loading problems -->
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2018, 2019 THALES GLOBAL SERVICES.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the Eclipse Public License v1.0
  which accompanies this distribution, and is available at
  http://www.eclipse.org/legal/epl-v10.html

  Contributors:
       Thales - initial API and implementation
-->

<plugin>
   <extension
         point="org.polarsys.capella.core.transition.handlers">
      <handlers
            id="Filtering extension"
            mapping="all"
            purpose="org.polarsys.capella.core.transition">
            
         <scopeRetriever
               id="scopeFilter"
               class="org.polarsys.capella.filtering.transition.handlers.scope.ExtensionRetriever">
         </scopeRetriever>
         <domain
               id="http://www.polarsys.org/capella/filtering/5.0.0">
         </domain>
         <sourceTraceabilityConfiguration
               class="org.polarsys.capella.filtering.transition.handlers.traceability.ExtensionTraceabilityConfiguration"
               id="sourceTraceabilityConfiguration">
         </sourceTraceabilityConfiguration>
         <targetTraceabilityConfiguration
               class="org.polarsys.capella.filtering.transition.handlers.traceability.ExtensionTraceabilityConfiguration"
               id="targetTraceabilityConfiguration">
         </targetTraceabilityConfiguration>
         <transformationTraceabilityConfiguration
               class="org.polarsys.capella.filtering.transition.handlers.traceability.TransformationTraceabilityConfiguration"
               id="transformationTraceabilityConfiguration">
         </transformationTraceabilityConfiguration>
         
         
      </handlers>
   </extension>
   
<extension
         point="org.polarsys.capella.common.flexibility.wizards">
         <bindings
               properties="capella.core.transition.system.topdown">
               <propertyBinding
                     property="AssociatedFilteringCriterionSet"
                     renderer="checkboxRenderer">
               </propertyBinding>
         </bindings>
      
      
   </extension>

   
 <extension
         point="org.polarsys.capella.common.flexibility.properties">
         <properties 
            id="capella.core.transition.system.topdown">
            <inheritance properties="capella.core.transition" />
            
         <group
               id="extension.filtering"
               name="Filtering">
         </group>
         
         <group
               id="extension.filtering.capellaElements"
               name="Filtering on CapellaElements"
              parent="extension.filtering">
         </group>
         
         <property
               class="org.polarsys.capella.common.flexibility.properties.property.BooleanPropertyPreference"
               enabled="true"
               group="extension.filtering.capellaElements"
               id="AssociatedFilteringCriterionSet"
               name="Propagate associated Filtering Criteria"
               description="Filtering related information of Capella Element">
               <argument id="scope" value="org.polarsys.capella.filtering.tools"></argument>
               <argument
                     id="default"
                     value="true">
               </argument>
         </property>
         
         
         </properties>
   </extension>
 

<extension
         id="org.polarsys.capella.core.transition.system.topdown"
         name="Transition System IntraModel Mapping"
         point="org.polarsys.kitalpha.transposer.rules.handler.mapping">
      <mapping
            context="org.polarsys.capella.core.transition.common.context.TransitionContext"
            description="AssociatedFilteringCriterionSet Transition"
            domainHelper="org.polarsys.capella.filtering.transition.domain.FilteringDomainHelper"
            extendedMappingExtensionID="org.polarsys.capella.core.transition.system"
            mappingName="AssociatedFilteringCriterionSet Transition"
            mappingPurpose="org.polarsys.capella.core.transition">
            
        <mappingPackage name="filtering">
            <mappingElement
                  domainMetaClass="org.polarsys.capella.filtering.AssociatedFilteringCriterionSet"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     context="org.polarsys.capella.core.transition.common.context.TransitionContext"
                     enabled="true"
                     completeRule="org.polarsys.capella.filtering.transition.rules.AssociatedCriterionSetRule"
                     incompleteRule="org.polarsys.capella.filtering.transition.rules.AssociatedCriterionSetRule"
                     name="AssociatedFilteringCriterionSet">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.filtering.FilteringModel"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     context="org.polarsys.capella.core.transition.common.context.TransitionContext"
                     enabled="true"
                     completeRule="org.polarsys.capella.filtering.transition.rules.FilteringModelRule"
                     incompleteRule="org.polarsys.capella.filtering.transition.rules.FilteringModelRule"
                     name="FilteringModel">
               </defaultMappingPossibility>
            </mappingElement>
            
            <mappingElement
                  domainMetaClass="org.polarsys.capella.filtering.FilteringCriterion"
                  reuseExtendedElementDefaultPossibility="true"
                  reuseExtendedElementPossibilities="true">
               <defaultMappingPossibility
                     context="org.polarsys.capella.core.transition.common.context.TransitionContext"
                     enabled="true"
                     completeRule="org.polarsys.capella.filtering.transition.rules.FilteringCriterionRule"
                     incompleteRule="org.polarsys.capella.filtering.transition.rules.FilteringCriterionRule"
                     name="FilteringCriterion">
               </defaultMappingPossibility>
            </mappingElement>
            
         </mappingPackage>
     </mapping>
      
</extension>

</plugin>
